body {
    background-color: lightgray;
}

.movie-detail-image{
    border-radius: 20px;
}

.movie-detail-section{
    margin: 0px 0px 100px 0px;
}

.movie-detail-description{
    margin: 30px 0px 0px 0px;
}